#input1, #input2{
    border-radius: 50px;
    border:none;
    background-color:#fa9b99;
    height: 30px;
    text-align: center;
    color:#ffffff;
}


#sel{

    border-radius: 50px;
    border:none;
    background-color:#fa9b99;
    height: 30px;
    width: 20%;
    text-align: center;
    color:#ffffff;
}

#result{

border-radius:10px;
    border:none;
    background-color:#fa9b99;
    height: auto;
    width: 20%;
    text-align: center;
    color:#ffffff;
}
